body{
    font-family:'georgia',sans-serif;
    background-color:#f0f0f0;
    color:#333;
    text-align:center;
    padding:50px;
}
/*style tittle*/
h1{
    color:#007bff;
    font-size:36px;
    margin-bottom:20px;

}
p{
    font-size: 18px;
    margin-bottom: 25px;
    ;
}
a{
    color:#ff5733;
    text-decoration:none;
font-size:20px;
}
a:hover {
    text-decoration:underline;

}

button{
    font-size:25px;
    margin:25px;
    padding:10px;
    border-radius:5px;
    border:none;
    background-color:#218838;
}